body{
    background-color: black;
}

#clock{
    width: 40vw;
    height: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
}

#hourHand, #minuteHand, #secondHand {
    position: absolute;
    background: black;
    border-radius: 10px;
}

#hourHand {
    height: 8vw;
    width: 1vw;
    margin-left: 19.7vw;
    margin-top: 12vw;
    transform-origin: bottom;
    opacity: 0.8;
    /* display: none; */
}

#minuteHand {
    height: 14vw;
    width: 0.8vw;
    margin-left: 19.8vw;
    margin-top: 6vw;
    transform-origin: bottom;
    opacity: 0.8;
    /* display: none; */
}

#secondHand {
    height: 15vw;
    width: 0.4vw;
    margin-left: 20vw;
    margin-top: 5vw;
    transform-origin: bottom;
    opacity: 0.8;
    /* display: none; */
}